<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle|Fredoka+One|Chewy|Advent+Pro|Marvel' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/css/main.css"/>
  <link rel="stylesheet" href="assets/css/board.css"/>
  <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body class='tic-tac-toe'>
  <header>
    <h1 class="tic-tac-toe-title">Tic Tac Toe!!</h1>
  </header>
  <div id="winner" class="winner" style="display: none">Winner!!</div>
  <table class="game">
  </table>
  <div class="reset">
    Reset
  </div>

  <!-- ========= -->
    <!-- template -->
  <!-- ========= -->
  <script type="text/template" id="template-board">
    <% for (var i = 0; i <= data.length - 1; i++ ) { %>
      <tr>
        <% for (var j = 0; j <= data[i].length - 1; j++ ) {
        var cellValue = (data[i][j] ? data[i][j] : ''); %>
        <td data-row=<%= i %> data-column=<%= j %> class="tcell"><%= cellValue %></td>
     <%  }
   } %>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
